# Исключаем директории и файлы IDE
.idea/

# Исключаем артефакты сборки
build/
target/

# Исключаем конфиденциальные файлы
*.env
*.properties
*.yaml

# Исключаем временные файлы
*.log
*.tmp
*.bak

# Исключаем системы контроля версий
.git/
.gitignore

src/tests/
