# Исключаем директории и файлы IDE
.idea/
data/
# Исключаем артефакты сборки
build/
target/
src/test/
test/

# Исключаем конфиденциальные файлы
*.env
*.properties
*.yaml

# Исключаем временные файлы
*.log
*.tmp
*.bak

# Исключаем системы контроля версий
.git/
.gitignore
