server:
  port: 8081

spring:
  application:
    name: model-store
  main:
    allow-circular-references: true
  codec:
    max-in-memory-size: 100MB
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/model_store?tcpKeepAlive=true
    username: root
    password: root
    pool:
      enabled: true
      initial-size: 5
      max-size: 20
      max-idle-time: 20m
      max-life-time: 30m
      validation-query: "SELECT 1"
      validation-depth: remote
  flyway:
    locations: classpath:/db/migration  # Путь к миграциям
    baseline-version: 7.17.7
    enabled: true
  mail:
    host: smtp.mail.ru                      # Хост SMTP-сервера (например: smtp.gmail.com, smtp.mail.ru)
    port: 587                               # Порт SMTP (587 для STARTTLS, 465 для SSL, 25 — редко)
    username: figurzilla@mail.ru            # Имя пользователя для SMTP (обычно — ваш email)
    password: password          # Пароль от почты или отдельный SMTP-пароль (например, app-password у Gmail)
    properties:
      mail:
        smtp:
          auth: true                 # Требуется ли авторизация (обычно — да)
          starttls:
            enable: true            # Включить шифрование через STARTTLS (рекомендуется для порта 587)
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

s3:
  access-key: minio_user               # Ключ доступа к MinIO
  secret-key: minio_password           # Секретный ключ MinIO
  endpoint: http://localhost:9000      # Адрес MinIO (если развернут локально)
  region: us-east-1                    # Регион (для MinIO можно указать любой, но это необходимо для корректной работы
  participant-bucket-name: participant-bucket # Папка фотографий пользователей
  product-bucket-name: product-bucket  # Папка фотографий продуктов
  system-bucket-name: system-bucket  # Папка системный фото
  order-bucket-name: order-bucket  # Папка доказательств (оплаты, споров) пользователей
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

app:
  max-participant-images: 1
  max-product-images: 4
  product-expiration-days: 30
  private-key-path: test/private.pk8
  public-key-path: test/public.key
  email-from: ${spring.mail.username}

logging:
  level:
    root: INFO                         # все логи уровня INFO+
    org.springframework.web: DEBUG     # HTTP-запросы и базовый WebFlux лог
    org.springframework.web.server: DEBUG
    com.example.filter: INFO            # мой фильтр
    org.springdoc: WARN
    org.flywaydb.core: WARN
    org.springframework.jdbc.core: WARN
    org.springframework.r2dbc.core: WARN
    org.hibernate.SQL: WARN
