figurzilla.ru {

    handle {
      #reverse_proxy minio:9001
      reverse_proxy 3dfront:3000
      #reverse_proxy pgadmin
    }

    handle_path /internal-api/v1/* {
      reverse_proxy * 3dback:8081
    }

    tls /root/certs/figurzilla-cert.pem /root/certs/figurzilla-key.pem
}
